<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/agregar}">Agregar Estudiante</a>
        <br/>
        <br/>
        <div th:if="${estudiantes != null and !estudiantes.empty}">
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>

                <!-- para iterar a los estudiantes -->
                <tr th:each="estudiante : ${estudiantes}">
                    <td th:text="${estudiante.idEstudiante}">Mostrar Id</td>
                    <td th:text="${estudiante.nombre}">Mostrar Nombre</td>
                    <td th:text="${estudiante.apellido}">Mostrar Apellido</td>
                    <td th:text="${estudiante.email}">Mostrar Email</td>
                    <td th:text="${estudiante.telefono}">Mostrar Telefono</td>
                    <td><a th:href="@{/editar/} + ${estudiante.idEstudiante}" th:text="Editar"/> </td>
                    <td><a th:href="@{/eliminar(idEstudiante=${estudiante.idEstudiante})}  " th:text="Eliminar"/> </td>
                </tr>
            </table>
        </div>
        <div th:if="${estudiantes == null or estudiantes.empty}">
            La lista de personas está vacia
        </div>
    </body>
</html>
